# **üìà Predicting StockX Sneaker Prices using SageMaker DeepAR**
---
----

## Contents

1. [Background](#Background)
1. [Setup](#Setup)
1. [Data](#Data)

---

## Background 
This notebook demonstrates time series forecasting using the Amazon SageMaker DeepAR alogrithm by analyzing Stockx sneaker prices.  


__Disclaimer__: Please note that I am a newbie to AI/ML. I built this project so I can further my own learning in Machine Learning. I am sharing it because I hope it can assist someone who is also on a similar journey as I am. 

---

## Setup 
This notebook was created and tested on a ml.m4.xlarge instance.

### Enable Kaggle Tools 

What is Kaggle? Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges. You can find out more about Kaggle on their [website](https://www.kaggle.com/). 

We will be using Kaggle to download the Stockx sneaker sales dataset.

### Install Kaggle CLI

In [2]:
!pip install --q kaggle

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

To use Kaggle API, you must have an account and an API token. You can register for a Kaggle account [here](https://www.kaggle.com/docs/api) and generate your API token, it is completely free.

In [3]:
!touch ~/.kaggle/kaggle.json # Creates json file to store Kaggle API Credentials
kaggle_api_token = {"username":"gilbertyoungjr","key":"9c1e0b76bd43718e8bf816ac26e05824"}  # Insert your own username and API Key here

In [4]:
import json 

# Writes API Credentials to Kaggle file
with open('/root/.kaggle/kaggle.json', 'w') as file: 
    json.dump(kaggle_api_token,file)

For security reasons, we must ensure that other users of our computer do not have read access to our Kaggle credentials.

In [5]:
!chmod 600 ~/.kaggle/kaggle.json

### Import Packages

In [ ]:
import sagemaker
import boto3
import io
import json
import time

from IPython.display import Markdown, display
import matplotlib.pyplot as plt
import pandas as pd

import s3fs


Let's start by specifying:

1. The S3 bucket and prefix that you want to use for training and model data. This should be within the same region as the notebook instance, training, and hosting.
1. The IAM role arn used to give training and hosting access to your data. See the documentation for how to create these. Note, if more than one role is required for notebook instances, training, and/or hosting, please replace sagemaker.get_execution_role() with the appropriate full IAM role arn string(s).

In [27]:
sagemaker_session = sagemaker.Session() # Use to interact with SageMaker services
s3_bucket = sagemaker_session.default_bucket() # Return the name of the default bucket to use for SageMaker interactions.
s3_prefix = "sagemaker/stockx_sneaker_prices"  # Change to your desired S3 prefix
region = sagemaker_session.boto_region_name # Sets default region for SageMaker

# Defines data path to store files 
s3_data_path = "s3://{}/{}/data".format(s3_bucket, s3_prefix)
s3_output_path = "s3://{}/{}/output".format(s3_bucket, s3_prefix)
role = sagemaker.get_execution_role() # Return IAM Role used by SageMaker

Next, we configure the container image to be used for the region that we are running in.

In [29]:
image_name = sagemaker.image_uris.retrieve("forecasting-deepar", region)
print(image_name)

522234722520.dkr.ecr.us-east-1.amazonaws.com/forecasting-deepar:1

---
## Data 
The dataset used in this project, is from the [StockX 2019 Data Contest](https://www.kaggle.com/datasets/hudsonstuck/stockx-data-contest).

The data consists of a random sample of all Off-White x Nike and Yeezy 350 sales from between 9/1/2017 (the month that Off-White first debuted ‚ÄúThe Ten‚Äù collection) and the present. There are 99,956 total sales in the data set; 27,794 Off-White sales, and 72,162 Yeezy sales. The sample consists of U.S. sales only.

In [8]:
!kaggle datasets list # List available datasets
!kaggle datasets download -d hudsonstuck/stockx-data-contest --unzip --force # Downloads & Unzip dataset

ref                                                             title                                            size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                                  9KB  2022-10-06 08:55:25          11741        369  1.0
whenamancodes/covid-19-coronavirus-pandemic-dataset             COVID -19 Coronavirus Pandemic Dataset           11KB  2022-09-30 04:05:11           9353        288  1.0
stetsondone/video-game-sales-by-genre                           Video Game Sales by Genre                        12KB  2022-10-31 17:56:01            942         23  1.0
whenamancodes/credit-card-customers-prediction                  Credit Card Customers Prediction                379KB  2022-10-30 13:03:27           1576         39  1.0
whenamancodes/students-performance-in-exams                     Students Performance in Exams                     9KB  2022-09-14 15:14:54          16071        298  1.0
akshaydattatraykhare/data-for-admission-in-the-university       Data for Admission in the University              4KB  2022-10-27 11:05:45           2180         50  1.0
michaelbryantds/electric-vehicle-charging-dataset               Electric Vehicle Charging Dataset                98KB  2022-11-02 01:45:23            743         37  0.9411765
maharshipandya/-spotify-tracks-dataset                          üéπ Spotify Tracks Dataset                          8MB  2022-10-22 14:40:15           2379         76  1.0
hasibalmuzdadid/global-air-pollution-dataset                    Global Air Pollution Dataset                    371KB  2022-11-08 14:43:32           1278         48  1.0
whenamancodes/amazon-reviews-on-women-dresses                   Amazon Reviews on Women Dresses                   3MB  2022-10-29 12:47:06            598         32  1.0
akshaydattatraykhare/car-details-dataset                        Car Details Dataset                              56KB  2022-10-21 06:11:56           2851         47  1.0
whenamancodes/international-football-from-1872-to-2022          International Football from 1872 to 2022        572KB  2022-10-30 13:27:29            685         30  0.9411765
whenamancodes/customer-personality-analysis                     Company's Ideal Customers | Marketing Strategy   62KB  2022-10-30 14:17:42           1032         33  1.0
dimitryzub/walmart-coffee-listings-from-500-stores              Walmart Coffee Listings from 500 stores          85KB  2022-10-25 09:20:12           1332         43  1.0
dheerajmukati/most-runs-in-cricket                              Most Runs in International cricket                4KB  2022-10-16 16:49:20            718         32  1.0
thedevastator/food-prices-year-by-year                          Global Food Prices Year By Year                   7KB  2022-10-30 08:49:55            977         31  1.0
saikumartamminana/gold-price-prediction                         Gold Price Prediction                            41KB  2022-10-30 19:07:30           1069         26  0.8235294
thedevastator/udemy-courses-revenue-generation-and-course-anal  Udemy Courses                                   429KB  2022-10-17 00:11:53           2031         57  1.0
whenamancodes/adidas-us-retail-products-dataset                 Adidas US Retail Products Dataset               286KB  2022-10-26 15:44:20            822         33  1.0
jainilcoder/online-payment-fraud-detection                      Online Payment Fraud Detection                  178MB  2022-10-26 12:35:46           1191         40  0.9705882
Downloading stockx-data-contest.zip to /root/stockx_sneaker_prices
  0%|                                                | 0.00/711k [00:00<?, ?B/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 711k/711k [00:00<00:00, 11.1MB/s]

Now that the dataset is downloaded, let us visualize what the data looks like.

In [169]:
initial_data = pd.read_csv('StockX-Data-Contest-2019-3.csv', header = 0)
df = initial_data.copy()
df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island

### Data Cleaning 
The data is already somewhat nicely formatted for us, but there are still a few cleaning we have to do. 

1. Change all date (Order Date, Release Date) formats to dtype
1. Remove dashes ('-') from Sneaker Name 
1. Remove dollar sign ('$') and comma (',') from prices (Sales Price, Retail Price)

In [170]:
# Change date types (Order Date, Release Date)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Release Date'] = pd.to_datetime(df['Release Date'])
df.head()
# new_string = '9/1/17' 
# print(type(new_string),'type')
#print(pd.to_datetime(new_string))

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2017-02-11,11.0,Rhode Island

In [171]:
# Remove dashes ('-') from Sneaker Name 
df['Sneaker Name'] = df['Sneaker Name'].apply(lambda x: x.replace('-', ' '))
df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas Yeezy Boost 350 Low V2 Beluga,"$1,097",$220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Copper,$685,$220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Green,$690,$220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red,"$1,075",$220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red 2017,$828,$220,2017-02-11,11.0,Rhode Island

In [172]:
# Remove dollar sign ('$') and comma (',') from prices (Sales Price, Retail Price)
df['Sale Price'] = df['Sale Price'].apply(lambda x: x.replace('$', ''))
df['Sale Price'] = df['Sale Price'].apply(lambda x: x.replace(',', ''))
df['Retail Price'] = df['Retail Price'].apply(lambda x: x.replace('$', ''))
df['Retail Price'] = df['Retail Price'].apply(lambda x: x.replace(',', ''))
df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas Yeezy Boost 350 Low V2 Beluga,1097,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Copper,685,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Green,690,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red,1075,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red 2017,828,220,2017-02-11,11.0,Rhode Island

In [173]:
# Renaming columns to remove spaces 
df = df.rename(columns={
    "Order Date": "order_date",
    "Brand": "brand",
    "Sneaker Name": "sneaker_name",
    "Sale Price": "sale_price",
    "Retail Price": "retail_price",
    "Release Date": "release_date",
    "Shoe Size": "shoe_size",
    "Buyer Region": "buyer_region"
    })
df.head()

,order_date,brand,sneaker_name,sale_price,retail_price,release_date,shoe_size,buyer_region
0,2017-09-01,Yeezy,Adidas Yeezy Boost 350 Low V2 Beluga,1097,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Copper,685,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Green,690,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red,1075,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas Yeezy Boost 350 V2 Core Black Red 2017,828,220,2017-02-11,11.0,Rhode Island

### Store Data to S3

In [174]:
s3_client = boto3.client("s3")

In [175]:
#Set frequency to be daily
freq = 'Y'
# daily_sales = raw_sales.resample(freq).sum()
# daily_sales.head()


# plt.figure(figsize=(20,20))
# daily_sales.plot(title='Average Daily Sales', color='blue')
# plt.show()

KeyError: 'The grouper name order_date is not found'